<h1>Pirate</h1>
  <body>
    <h2>Name: <%= @pirate.name %></h2>
    <h2>Weight: <%= @pirate.weight %></h2>
    <h2>Height: <%= @pirate.height %></h2>
  </body>
<h2>First Ship</h2>
  <body>
    <p>Name:</p>
    <p>Type:</p>
    <p>Boody:</p>
  </body>

<h2>Second Ship</h2>
  <body>
    <p></p>
  </body>
